<!DOCTYPE html>
<html lang="en" ng-app="meuModulo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Sistema com Angular.js</title>
</head>

<body ng-controller="indexController">

    <header class="container">
        <!-- <h1>{{titulo}}</h1> -->
        <div class="row">
            <h1 ng-bind="titulo"></h1>
        </div>
    </header>

    <main class="container">

        <div class="row">

            <input type="text" ng-model="busca.nome" placeholder="Busca">

        </div>

        <div class="row">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Nota 3</th>
                        <th>Média</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="aluno in alunos | filter:busca">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{aluno.media}}</td>
                        <td>
                            <button ng-click="editarAluno(aluno)" class="btn blue">Editar</button>
                            <button ng-click="deletarAluno(aluno)" class="btn red">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <!-- Modal Trigger -->
            <a ng-click="abreAddAluno()" class="waves-effect waves-light btn">Adicionar</a>
        </div>

    </main>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 ng-if="!editando">Adicionar Aluno</h4>
            <h4 ng-if="editando">Editar Aluno</h4>
            <p>Preencha os dados do Aluno</p>

            <div class="row">
                <div class="input-field col m6 s12">
                    <input placeholder="Nome" type="text" ng-model="Aluno.nome" class="validate">
                </div>
                <div class="input-field col m6 s12">
                    <input placeholder="E-mail" type="text" ng-model="Aluno.email" class="validate">
                </div>
                <div class="input-field col m4 s12">
                    <input placeholder="Nota1" type="text" ng-model="Aluno.nota1" class="validate">
                </div>
                <div class="input-field col m4 s12">
                    <input placeholder="Nota2" type="text" ng-model="Aluno.nota2" class="validate">
                </div>
                <div class="input-field col m4 s12">
                    <input placeholder="Nota3" type="text" ng-model="Aluno.nota3" class="validate">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a ng-if="!editando" ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue">Adicionar</a>
            <a ng-if="editando" ng-click="salvarAluno(Aluno)" class="waves-effect waves-light btn blue">Salvar</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
        </div>
    </div>

    <script src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/materialize/init.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers.js"></script>
</body>

</html>